<div>
  <span class="desc_title">자동 머지 기능</span>
  <p class="desc_sub">헤더, 데이터 영역의 각 셀들의 값이 같은 경우 자동으로 병합시킬 수 있습니다.</p>
  <mat-form-field appearance="fill" style="width: 33%; z-index: 100;">
    <mat-label>헤더 머지 값을 선택해주세요.</mat-label>
    <mat-select (selectionChange)="OnHeaderSelect($event.value);" style="z-index: 100;">
      <mat-option *ngFor="let merge of merge1" [value]="merge.value">
        {{ merge.valueString }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 33%; z-index: 100;">
    <mat-label>데이터 머지 값을 선택해주세요.</mat-label>
    <mat-select (selectionChange)="OnDataSelect($event.value);">
      <mat-option *ngFor="let merge of merge2" [value]="merge.value">
        {{ merge.valueString }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 33%; z-index: 100;">
    <mat-label>앞 컬럼 머지 값을 선택해주세요.</mat-label>
    <mat-select (selectionChange)="OnPrevSelect($event.value);">
      <mat-option *ngFor="let merge of merge3" [value]="merge.value">
        {{ merge.valueString }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <ibsheet-angular
    [options]="sheetOptions"
    [style]="{width: '100%', height: '70vh'}"
    (instance)="getInstance($event)"
  />
</div>