<div class="toolbar" role="banner">
  <div style="padding-left: 24px; padding-right: 24px;">
    <span class="material-icons" style="font-size: 1.3em;">grid_view</span>
    <a href="/">
      <span style="color: #000;font-size: 24px;">IBSheet8</span>
    </a>
  </div>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div>
    <div class="content_title">
      <span class="main_title">IBSheet8</span>
      <p class="sub_title">Loader를 사용하여 IBSheet8의 대용량 조회, 높은 자유도, 다양한 렌더링 방식 등 다양한 기능을 Angular 환경에서 제공합니다.</p>
      <div style="padding-top: 20px;">
        <a mat-raised-button href="https://www.google.com/" target="_blank">SANDBOX</a>
        <a mat-raised-button href="https://www.google.com/" target="_blank">GITHUB</a>
      </div>
    </div>
  </div>

  <div style="width:100%;">
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
