<div>
  <span class="desc_title">여러 개의 시트</span>
  <p class="desc_sub">여러 개의 시트를 각 컴포넌트 별로 생성할 수 있습니다. onRenderFirstFinishAll 이벤트 에서 마지막에 생성된 시트 객체를 알 수 있습니다.</p>
  <div class="example-button-row">
    <button mat-raised-button (click)="onSheetState('create');">시트 생성</button>
    <button mat-raised-button (click)="onSheetState('remove');">시트 지우기</button>
  </div>
  <div style="display: flex;">
    <div id="sheetDiv1" style="width: 33%; height: 70vh;"></div>
    <div id="sheetDiv2" style="width: 33%; height: 70vh;"></div>
    <div id="sheetDiv3" style="width: 33%; height: 70vh;"></div>
  </div>
</div>