/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Noto Sans CJK KR,sans-serif; }
.IBCellHeader{color:white;background:#fd3875 !important;}

.content_title {
  padding: 48px 0px 24px;
}